#mainbody{
  position: relative;
  right: 2%;
  top: 2%;
  width: 66%;
  height: 600px;
  border-style: none;
  border-width: 2px;
  float:right;
  overflow:auto;
}

#left{
  position: relative;
  top: 2%;
  width: 28%;
  height: 600px;
  left: 2%;
  float:left;
}

#login{
  border-style:none;
  border-width:2px;
  height:200px;
  margin-bottom:20px;
}

#user{
  border-style:none;
  border-width:2px;
  height:350px;
}

#commentdate{
  width: 15%;
  font-size: 5px;
  text-align:center;
  color: grey;
  height: 15px;
}

#commentname{
  width: 15%;
  text-align:center;
  font-weight:bold;
  height: 10px;
}
