<!DOCTYPE html>
<html>
<head>
  <script src="{{url_for('static', filename = 'chart.min.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'tableStyle.css')}}" />
  <meta charset="UTF-8">
  <METAHTTP-EQUIV="Pragma" CONTENT="no-cache">
    <METAHTTP-EQUIV="Cache-Control" CONTENT="no-cache">
      <METAHTTP-EQUIV="Expires" CONTENT="0">
        <title>Movie DataBase</title>
        <style>
          h1{font-size:16px;font-family:Arial;}
          .separate{border-collapse:separate;}
          .collapse{border-collapse:collapse;vertical-align: middle;}
          img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
        </style>
</head>
<body>
  <p>
    <img src="{{url_for('static', filename='title.png')}}" />
    <form method="POST" onsubmit="return submitTest();">
      <p id = 'mainInputArea' style = "text-align:center">
        <select class="form-control" name="serachOption" id="searchOption">
          <option selected='selected'>Title</option>
          <option>Director</option>
          <option>Actor</option>
          <option>Rating</option>
          <option>Genre</option>
        </select>
        <input id = "text" name="text"> <input type="submit" id='subButton'>
        <input id = "Tips" name="Tips" type="submit" value="Tips">
    </p>
    </form>
  </p>
    {% for item in list%}
    <table border="{{border}}" align="center" class="collapse" id='table-1'>
    　<tr><th colspan='2' align="left">Title: {{item['Title']}}<th align="left">Year: {{item['Year']}}<th align="left">Director: {{item['Director']}}
    　<tr><th colspan='4' align="left">Actors: {{item['Actors']}}
      <tr><th colspan='3' align="left">Genre: {{item['Genre']}} <th align="left">Runtime: {{item['Runtime']}}
      <tr><th align="left">Rating: {{item['Rating']}}<th align="left">Votes: {{item['Votes']}}<th align="left">Metascore: {{item['Metascore']}}<th align="left">Revenue: {{item['Revenue']}}
      <tr><th colspan='4' align="left">Description: {{item['Description']}}
    </table>
    <br />
    <br />
    <br />
    {% endfor %}
  <div id= 'one' style="text-align:center;">
  <canvas id="myChart" width="400" height="400" style = "text-align:center display:inline-block"></canvas>
  {% if desp %}
  <p style="text-align:center;">"{{desp}}"</p>
  {% endif %}
  </div>
  <script>
    var selectList = document.getElementById("searchOption");
    var tipsButton = document.getElementById("Tips");
    var subButton = document.getElementById('subButton');
    var inputTextBox = document.getElementById('text');
    var ctx = document.getElementById("myChart");
    var tt = {{last|safe}}
    function submitTest() {
      if (inputTextBox.value == ''){
          inputTextBox.value='[]'
          subButton.submit();
          return false;
      }
      temp = {}
      temp[selectList.value] = inputTextBox.value
      tt.push(temp);
      inputTextBox.value = JSON.stringify(tt);
      subButton.submit();
    // 一些逻辑判断return false;
    }
    /*var lastSearch
    var a = function(){
      b = {}
      b[selectList.value] = inputTextBox.value
      lastSearch.push(b);
      alert(JSON.stringify(lastSearch));
      //inputTextBox.value = JSON.stringify(lastSearch);
      inputTextBox.value = JSON.stringify(lastSearch)
      return false;
    }*/
    var chartType = "{{chartType}}"
    // present the pie chart, inputs: data, color, labels, chartTitle
    if (chartType == 'pie'){
      var config = {
        type: 'pie',
        data: {
          datasets: [{
            data: [ {% for item in data %}
                  {{item}},
                  {% endfor %}
            ],
            backgroundColor: [{% for item in color %}
                  "{{item}}",
                  {% endfor %}
            ],
            label: "{{chartTitle}}"
          }],
          labels: [{% for item in labels %}
                "{{item}}",
                {% endfor %}
          ]
        },
        options: {
          responsive: false,
          title: {display: true,
                  position: 'top',
                  text: "{{chartTitle}}"},
          legend: {position: 'bottom'}
        }
      };
    };




    // drawing the chart
    var myPieChart = new Chart(ctx, config);
    ctx.style.display = "{{display}}"
    tipsButton.onclick =function(){ctx.style.display = "none"};
    text.onclick =function(){ctx.style.display = "block"};
  </script>
</body>
</html
