<html>

<head>
  <meta http-equiv="expires" content="0">
  <link href="../static/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id='wrapper'>
    <div id='mainbody'>
      <div> <input type='button' value='edit'></input>
         <input type='button' value='delete'></input>
         <input type='button' value='like'> </input>
         <input type='button' value='back'> </input>
          <input type='button' value='My Blog'> </input>
       </div>
      {{data|safe}}

    </div>
    <div id='left'>
      <div id='login'>
          <tr valign="mid">
            <td><img src="{{ user.avatar(128) }}"></td>
        </tr>
      </div>
      <div id='user'>
        <table>
          <tr><td id='commentname'>John</td><td rowspan="3">Hi I am John and new to the blog</td></tr>
          <tr><td id='commentdate'>2018-10-23</td></tr>
          <tr><td> </td></tr>
        </table>
      <br /><br />
      </div>
    </div>

  </div>
</body>

</html>
