<!-- The sytle is copied from https://www.jianshu.com/p/335788e485d6 by 张新望zxw -->
<html>

<head>
  <meta http-equiv="expires" content="0">
  <script src="../static/forge.min.js"></script>
  <script src="../static/jquery-3.3.1.min.js"></script>
  <link href="../static/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="wrapper">
    <div class="header">Login to <span>My Blog</span></div>
    <form action="" method="post">
      <ul>
        <li>
          <div class="text">
            <span class="yonghu"></span><input type="text" placeholder="Username" id="username">
          </div>
        </li>
        <li>
          <div class="password">
            <span class="mima"></span><input type="password" placeholder="Password" id="password">
          </div>
        </li>
        <li>
          <input type="button" value="Register" onclick="javascript:onClickButton('register')">
        </li>
        <li>
          <input type="button" value="Login" onclick="javascript:onClickButton('login')">
        </li>
      </ul>
    </form>
    <div class="footer">
      <p> For demonstration only. ALL rights reserve to <a herf="https://www.jianshu.com/p/335788e485d6">张新望zxw</a></p>
    </div>
  </div>
  <script>
    var pubkey = "{{pubkey}}"
    var onClickButton = function(action) {
      var password = document.getElementById('password').value;
      var username = document.getElementById('username').value;
      var publicKey = forge.pki.publicKeyFromPem(pubkey);
      var encrypted = publicKey.encrypt(password, "RSA-OAEP", {
        md: forge.md.sha256.create(),
        mgf1: forge.mgf1.create()
      });
      var data = forge.util.encode64(encrypted);
      var postData = JSON.stringify({
        'username': username,
        'password': data,
        'action': action
      });
      $.post('/', postData, function(data) {
        window.location = data;
      })
    };
  </script>
</body>

</html>
